
@font-face {
  font-family: 'SanFrancisco';
  src: url('../fonts/SanFrancisco.otf') format('truetype');
}

body{
    background-color: #efeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* height: 100vh; */
    font-family: 'SanFrancisco', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.05em;
    margin: 20px;
}

.container{
    margin: 0px auto;
    columns: 2;
    column-gap: 40px;
}

@media(max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    
}

.social, .join-now, .stats, .income{
    margin-bottom: 40px;
    break-inside: avoid;
}

/* Card 1 Social Start */

.social{
    width: 300px;
    /* height: 400px; */
    background-color: #f9f9f9;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.social img{
    width: 17%;
    border-radius: 50%;
    cursor: pointer;
}

.social h1{
    margin-bottom: -10px;
    font-weight: 600;
}

.social h2{
    margin: 0 0 10px 0;
    font-size: 1.1em;
    font-weight: 600;
}

.social h4{
    margin: 0px;
    padding: 0;
    font-weight: 600;
}

.social h3{
    margin-bottom: 10px;
}

.social h6{
    margin: 15px 0;
    color: #a2a2a2;
    font-size: 0.75em;
    font-weight: 500;
}

.social span{
    font-size: 1.5em;
    font-weight: 900;
}

.title{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.title i{
    background-color: #f0f1f1;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.867);
    padding: 10px;
    border-radius: 10px;
    margin-top: -4px;
    transition: background-color 1s ease;
}

.title i:hover{
    background-color: rgb(244, 36, 36);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.867);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.title-left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.title-left h3{
    padding: 0 15px;
    margin: 15px 0 -12px 0;
    font-weight: 700;
}

.title-left h6{
    padding: 0 15px;
    /* margin: -7px 0 -10px 0; */
    color: #afafaf;
    font-size: 0.8em;
    font-weight: 500;
}


.title-center{
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: column;
}

.tags{
    display: flex;
    justify-content: space-around;
    align-items: left;
    margin: 0;
    padding: 0;
    gap: 4px;
}

.tag{
    background-color: #dce5fc;
    padding: 4px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 0.9em;
    cursor: pointer;
}


hr{
    margin-top: 25px;
    border: none;
    border-top: 2px dashed rgb(231, 231, 231);
}

button{
    width: 100%;
    padding: 20px;
    background-color: #3880f8;
    color: #fff;
    border-radius: 17px;
    border: none;
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #3270dd;
}

/* Card 1 Social Ends */
/* ------------------ */
/* Card 2 Stats Start */

.stats{
    width: 300px;
    /* height: 200px; */
    color: #fff;
    background-image: linear-gradient(180deg, #393939, #17181e);
    border-radius: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.stats h2{
    margin: 0;
    font-weight: 500;
}

select{
    background-color: #424242;
    color: #fff;
    padding: 6px 0px 8px 8px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 1s ease;
}

select:hover{
    background-color: #505050;
}

.earnings h5{
    font-weight: 400;
    margin: 15px 0 0px 0;
    font-size: 0.9em;
}

.earnings h1{
    font-weight: 600;
    margin: 5px 0 0 0;
    font-size: 3em;
}

.earnings h6{
    font-weight: 300;
    margin: 5px 0 0px 0;
    font-size: 0.75em;
}

.earnings h1 span{
    color: #6f6e6e;
}

.earnings h6 span{
    color: #21cf3c;
}

.card-group-up{
    display: flex;
    gap: 10px;
    margin: 0;
}

.projects ,.clients{
    background-color: #3f3e3e;
    border-radius: 15px;
    padding: 10px;
    margin: 25px 0 10px 0;
    width: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.projects:hover ,.clients:hover{
    background-color: #505050;
    transition: background-color 1s ease;
    cursor: pointer;
}

.projects h2, .clients h2{
    font-weight: 500;
    margin: 0 0;
}

.projects h2 span, .clients h2 span{
    font-size: 0.7em;
    padding-left: 5px;
    color: #a2a2a2;
    margin: 0 0 0 0;
    font-weight: 500;
}

.projects h5 , .clients h5{
    font-weight: 400;
    margin: 8px 0 0 0;
    font-size: 0.7em;
    
}

.projects h5 span, .clients h5 span{
    font-size: 0.9em;
    padding-left: 1px;
    margin: 0 0 0 0;
    color: #a2a2a2;
}

.place{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 7px 7px 7px 0;
    margin: 0 0;
}

.place:hover{
    background-color: #dbd9f8;
    transition: background-color 1s ease;
    cursor: pointer;
}

.place-right, .place-left{
    width: 50%;
    display: flex;
    align-items: center;
}

.place-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 10px;
}

.place-right img{
    width: 100%;
}

.place-left h1{
    margin: 0;
    font-size: 1.5em;
}

.place-left h5{
    margin: 5px 0 0 0;
    font-size: 0.7em;
    color: #6f6e6e;
    font-weight: 600;
}

.barra img{
    width: 105%;
    margin: -20px -8px -8px -8px;
    padding-right: -20px;
}

.avail h5{
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 30px;
}

.avail h6{
    font-weight: 500;
    font-size: 0.7em;
    margin: 10px 0 5px 0;
    color: #a2a2a2;
}

/* Card 2 Stats Ends */
/* ----------------- */
/* Card 3 Join Now Starts */

.join-now{
    background: linear-gradient(170deg, #fafafa 0%, rgb(236, 230, 236) 60%, rgba(222,187,222,1) 100%);
    padding: 15px;
    border-radius: 25px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
    align-self: end;
}

.join-now img{
    transition: scale 1s ease;
}

.join-now img:hover{
    scale: 1.2;
}

.join-now h4{
    text-align: center;
    margin: 0px 0 0 0;
    font-size: 1.2em;
    font-weight: 700;
}

.join-now h5{
    color: #6f6e6e;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 0 0;
}

.join-now button{
    background-color: #000;
    margin: 25px 0 0 0;
    transition: background-color 1s ease;
}

.join-now button:hover{
    background-color: #8b297a;
}

.join-now button h3{
    margin: 0;
    font-size: 1em;
    font-weight: 200;
}

/* Card 3 Join Now Ends */
/* ----------------- */
/* Card 4 Income Starts */

.income{
    width: 300px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.2);
    align-self: end;
}

.income .tittle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 0 25px 0;
}

.income select{
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
    transition: background-color 1s ease;
}

.income select:hover{
    background-color: #e6dcdc ;
}

.income h3{
    margin: 0;
}

.income h4{
    margin: 0;
}

.income h5{
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    color: #6f6e6e;
}

.income .split{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    margin: 15px 0 0 0;
}

.income .split-left{
    width: 50%;
    justify-content: left;
}

.income .split-ver{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.income .split-right{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 3px;
}

.income .split-right .barblue-1,.barpink-1, .baryel-1, .barred-1{
    padding: 5px;
    height: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.income .split-right .barblue-2,.barpink-2, .baryel-2, .barred-2{
    padding: 5px;
    height: 15px;
    border-radius: 7px;
    cursor: pointer;
}

.income .split-right .barblue-1{
    background-color: #3c94f7;
    width: 42%;
}

.split .barpink-1{
    background-color: #ff91e0;
    width: 42%;
}

.split .baryel-1{
    background-color: #fdbd12;
    width: 5%;
}

.split .barred-1{
    background-color: #f76a37;
    width: 10%;
}


.split .barblue-2{
    background-color: #3c94f7;
    width: 10%;
}

.split .barpink-2{
    background-color: #ff91e0;
    width: 50%;
}

.split .baryel-2{
    background-color: #fdbd12;
    width: 30%;
}

.split .barred-2{
    background-color: #f76a37;
    width: 1%;
}


.income hr{
    margin: 20px 0 10px 0;
    border: none;
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
}
/* Card 4 Income Now Ends */